.cart {
    position: fixed;
    top: 8px;
    width: 70px;
    height: 70px;
    right: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_button {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #fff;
    background-color: transparent;
    border: 0;
}

.cart_button span {
    position: absolute;
    color: #fff;
    right: 17px;
    top: 3px;
}

.item_container {
    position: fixed;
    width: 200px;
    right: 0;
    height: 100%;
    border-left: 1px solid grey;
    top: 0;
    overflow-y: auto;
    padding-top: 10px;
    background-color: #fff;
    opacity: 0.8;
}

.cart_item_checkout {
    width: 90%;
    margin: 0 5%;
}

.cart_total {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

@media(max-width:767px) {

    .cart {
        top: inherit;
        bottom: 0px;
        right: 0px;
        background-color: transparent;
    }

    .cart_button {
        z-index: 3;
        background: #fff;
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid grey;
        right: 40px;
        bottom: 20px;
    }

    .cart_button svg {
        max-width: 40px;
    }

    .cart_button span {
        position: absolute;
        color: #fff;
        right: 28px;
        top: 20px;
    }

    .item_container {
        width: 50%;
        background-color: #fff;
    }

}