.language_selector {
    display: flex;
    justify-content: flex-start;
    left: 0;
    margin-left: 2%;
    padding-left: 6rem;
    position: absolute;
    cursor: pointer;
}

@media(max-width:767px) {

    .language_selector {
        padding-left: 0;
    }

}