.language_selector {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: flex-start;
    margin-left: 4%;
    padding-left: 6rem;
    position: absolute;
    cursor: pointer;
}

@media(max-width:767px) {

    .language_selector {
        padding-left: 0;
    }

}