.search {
    display: flex;
}

.search label {
    margin-left: 2%;
    height: 40px;
    padding-left: 10px;
    text-align: center;
    font-size: 24px;
}

.search input {
    width: 96%;
    margin: 0 2%;
    height: 40px;
    border: 1px solid grey;
    padding-left: 10px;
}